header{
    z-index: 100;
    opacity: 0.9;
    padding:40px 10px 40px 40px;
    height:20vh;
    width:100vw;
    overflow:hidden;
    background-color:#F2F2F2;
    border-color:black;
    border:solid;
}

header p{
    font-size: 3vh;
    color: black;
    font-style: italic;
    float: left; 
    
    margin:5vh 0vw 0vh 3vw
}

header p.big{
    font-size: 8vh; 
    font-weight: bold;
    font-style: initial;
    float: left; 
    
    margin:0vh 0vw 0vh 0vw
}

