header{
    z-index: 100;
    opacity: 0.9;
    padding:40px 10px 40px 40px;
    height: 20vh;
    width: 100%;
    overflow:hidden;
    display: inline-block;
    background-color: #D3D3D3;
}

header p{
    font-size: 2vh;
    color: black;
    font-style: italic;
    margin-top: 6vh;
    margin-left: 28vw;
}

header p.big{
    font-size: 8vh;
    font-weight: bold;
    font-style: initial;
    float: left;
    margin:0vh 0vw 0vh 0vw;
}

@media screen and (max-width: 1020px) and (max-height: 1020px) {

    header p{   
        font-size: 2vw;
        margin:0vh 0vw 0vh 0vw;
    }

    header p.big{
        font-size: 6vw;
        float: none;
    }
}

@media screen and (max-width: 1980px) and (min-width: 780px) and (max-height: 780px) {

    header p{
        font-size: 3vh;
        margin: 5vh 0vw 0vh 0vw;
    }

    header p.big{
        font-size: 8vh;
        float: left;
    }
}

/*
@media screen and (max-width: 620px) {

    header {
        height:15%;
    }

    header p{
        font-size: 3vw;
        margin:0vh 0vw 0vh 0vw
    }

    header p.big{
        font-size: 8vw;
        float: none;
    }
}
*/