
.container{
    margin-left: 0;
    height:100%;
    width: 100%;
}

#view_3{
    padding:0px 0px 0px 0px;
}

#view_3 #top{
    padding:10px 10px 10px 10px;
    background-color:#F2F2F2;
    border:solid;
}

#view_3 #bot{
    overflow-y: scroll;
    overflow-x:hidden;
}

#view_3 button {
    background-color: orange;
    color:black;
    padding:5px 5px 5px 5px;
    font-size: 100%; 
}

#view_3 select{
    margin-left: 50%;
    width: 230px;
}

hr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}