
#view_4 {
    width:80%;
    height: 100%;
    overflow-y:scroll;
    overflow-x:hidden;
}

#view_4 button {
    background-color: orange;
    color:black;
    padding:10px 10px 10px 10px;
    font-size: 1vw;
}

#view_4 button {
    margin:30px 30px 30px 30px;
    border: 1px solid #CCC;
    border-radius: 0px;
    box-shadow: 3px 3px 3px #888888;
    font-weight: bold;
}

#view_4 #box button {
    margin:0px 0px 20px 0px;
    padding:5px 5px 5px 5px;
    border: 1px solid #CCC;
    border-radius: 0px;
    box-shadow: 3px 3px 3px #888888;
    font-weight: bold;
}

#view_4 #main{
    width: 50%;
    height: 70%;
    float:left;
    padding:20px 20px 20px 20px;
}

#view_4 #box{
    width: 50%;
    border: solid;
    float:right;
    background-color:#FFFDD0;
    margin-top: 2%;
}

#view_4 h1{
    font-weight: bold;
}

@media screen and (max-width:  1120px) {

    #view_4 {
        padding-left: 15%;
    }

    #view_4 #box{
        width: 100%;
        height: 100%;
    }

    #view_4 button {
        font-size: 1vw;
    }
}


@media screen and (max-width:  960px) {

    #view_4 {
        padding-left: 15%;
    }

    #view_4 #box{
        width: 100%;
        height: 100%;
    }

    #view_4 button {
        font-size: 2vw;
    }
}