
#view_3{
    width: 80%;
    height: 100%;
    padding: 0px 0px 0px 0px;
}

#view_3 #top{
    padding:2% 2% 2% 2%;
    background-color:#FFFDD0;
    height: 20%;
}

#view_3 #top h3{
    font-weight: bold;
    margin-left: 2vw;
}

#view_3 #top input{
    width: 15vw;
    float:left;
    margin-left: 3%;
    border: 1px solid #CCC;
    border-radius: 0px;
}

#view_3 #top button {
    background-color: orange;
    color:black;
    padding:5px 5px 5px 5px;
    float:left;
    margin-left: 1%;
    border: 1px solid #CCC;
    border-radius: 0px;
    box-shadow: 3px 3px 3px #888888;
}

#view_3 #top select{
    margin-left: 40%;
    width: 15vw;
    border: 1px solid #CCC;
    border-radius: 0px;
}

#view_3 #top hr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 2vw;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

#view_3 #bot{
    height: 80%;
    padding: 20px 20px 20px 20px;
}

#view_3 #dishTable{
    width: 100%;
    height: 100%;
    padding:20px 20px 20px 20px;
}

#view_3 td{
    width: 33%;
    height: 33%;
    margin: 20px 20px 20px 20px;
    padding: 30px 30px 20px 20px;
}

#view_3 .col{
    margin:25px 25px 25px 25px;
}

#view_3 #dishTable img{
    width: 80%;
    height: 80%;
    padding:2% 2% 2% 2%;
}

#view_3 #dishTable p{
    width: 80%;
    height: 20%;
    font-size: 1vw;
    background-color:#ccc;
}

@media screen and (max-width: 1280px) {

    #view_3 h3{
        font-size: 3vw;
    }

    #view_3 #top input{
        width: 20vw;
        float:left;
        margin-left: 3%;
    }

    #view_3 #top button {
        background-color: orange;
        color:black;
        padding:5px 5px 5px 5px;
        float:left;
        margin-left: 2%;
        margin-right: 2%;
    }

    #view_3 #top select{
        margin-left: 40%;
        width: 20vw;
    }

    #view_3 td{
        width: 33%;
        height: 33%;
        padding: 0px 0px 0px 0px;
    }

    #view_3 #dishTable p{
        width: 80%;
        height: 20%;
        font-size: 2vh;
        background-color:#ccc;
    }
}