
body{
    width: 100vw;
    height: 100vh;
}

.container{
    width: 100%;
    height: 80%;
    padding: 0px 0px 0px 0px;
}

.row{
    width: 100%;
    height: 100%;
    margin: 0px 0px 0px 0px;
    
}

#view_4 {
    width:80%;
        height: 100%;
        border: solid;
            overflow-y:scroll;
    overflow-x:hidden;
}

#view_4 button {
    background-color: orange;
    color:black;
    padding:10px 10px 10px 10px;
    font-size: 1vw; 
}

#view_4 #main{
    width: 50%;
    height: 70%;
        float:left;
}

#view_4 #box{
    width: 50%;
        height: 70%;
        border: solid;
        
        float:right;
            background-color:#FFFDD0;
                padding:20px 20px 20px 20px;
}

#view_4 font{
    float:left;
}

hr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 70%;
}

