body{
    width: 100vw;
    height: 100vh;
}

.container{
    width: 100%;
    height: 80%;
    padding: 0px 0px 0px 0px;
}

.row{
    width: 100%;
    height: 100%;
    margin: 0px 0px 0px 0px;
}

#view_6 {
    width: 100%;
    height: 100%;
    padding: 0px 0px 0px 0px;
}

#view_6 #top {
    width: 100%;
    height: 30%;
    padding: 10px 10px 40px 10px;
    background-color: #FFFDD0;
    border: solid;
}


#view_6 #top button {
    background-color: orange;
    color:black;
    padding: 10px 10px 5px 10px;
    margin-top: 20px;
    font-size: 1vw;
    float: right
}

#view_6 #starPic1 img{
    font-size: 2vh;
    border:solid;
    width: 15%;
    margin-left: 25px;
    margin-top: 25px;
}

#view_6 #mainPic2 img{
    font-size: 2vh;
    border:solid;
    width: 15%;
    margin-left: 25px;
    margin-top: 25px;
}

#view_6 #desPic3 img{
    font-size: 2vh;
    border:solid;
    width: 15%;
    margin-left: 25px;
    margin-top: 25px;
}

#view_6 #starName1{
   font-size: 3vh;
   width: 10%;
   font-weight: bold;
    margin-left: 25px;
 
}

#view_6 #mainName2{
 font-size: 3vh;
 width: 10%;
 font-weight: bold;
 margin-left: 25px;
}

#view_6 #desName3{
    font-size: 3vh;
    width: 10%;
    font-weight: bold;
    margin-left: 25px;
}

#view_6 #starPrep1{
    font-size: 2vh;
    width: 10%;
    font-weight: bold;
    float: right;   
}

#view_6 #mainPrep2{
    font-size: 2vh;
    width: 10%;
    font-weight: bold;
    float: right; 
}

#view_6 #desPrep3{
    font-size: 2vh;
    width: 10%;
    font-weight: bold;
    float: right;
}
#view_6 #bot hr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 70%
}
