
#view_1{
    position:absolute;
    z-index: -100;
    left: 0;
    top: 0;
    height:100%;
    width:100%;
    background-image: url("../images/home.jpg");
    background-repeat: no-repeat;
}

#view_1 #box{
    position:absolute;
    left: 0;
    bottom: 20%;
    opacity:0.8;
    margin:0px auto;
    padding:20px 20px 20px 30px;
    height:40%;
    width:40%;
    overflow:hidden;
    background-color:#F2F2F2;
}

#view_1 #box h1{
    font-size: 3vw; 
    padding-top: 0px;
    padding-right: 30px;
    color: black;
}

#view_1 #box p{
    font-size: 1vw;
    padding-top: 10px;
    color: black;
}

#view_1 #box hr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

#view_1 #box button {
    background-color: orange;
    color:black;
    padding:10px 10px 10px 10px;
    font-size: 1vw; 
}