
body{
    background-color: #D3D3D3;
    height: 100vh;
}

#main{
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.container{
    width: 100%;
    height: 80%;
    padding: 0px 0px 0px 0px;
}

.row{
    width: 100%;
    height: 100%;
    margin: 0px 0px 0px 0px;
}

#view_6 {
    width: 100%;
    height: 100%;    
}

#view_6 #top {
    width: 100%;
    height: 15%;
    padding: 15px 15px 15px 15px;
    background-color: #FFFDD0;
    white-space: nowrap;
}

#view_6 #top button {
    background-color: orange;
    color:black;
    padding: 10px 10px 5px 10px;
    margin-top: 20px;
    font-size: 1vw;
    float: right
}

#view_6 table td{
    width: 1%;
}

#view_6 img{
    border:solid;
    width: 80%;
    height: 80%;
    min-height: 25vh;
    margin: 10px 10px 10px 10px;
}

#view_6 h1{
    font-weight: bold;
    font-size: 2vw;
}

#view_6 p{
    font-size: 1vw;
    margin: 0px 0px 0px 0px;
}

@media screen and (max-width: 1460px) {

    #view_6 #top {
        padding: 10px 10px 10px 10px;
    }

    #view_6 #top button {
        font-size: 1.5vw;
    }

    #view_6 #top h2{
        font-size: 2.5vw;
    }

    #main{
        width: 95%;
    }

    #view_6 p{
        font-size: 1.5vw;
        margin: 0px 0px 0px 0px;
    }
}