
#view_2{
    width: 20%;
    height: 100%;
    padding:20px 20px 20px 20px;
}

#view_2 th{
    background-color:#ccc;
}

#view_2 button {
    background-color: orange;
    color:black;
    padding:10px 10px 10px 10px;
    font-size: 1vw; 
}

hr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

@media screen and (max-width: 1180px) {
    
    #view_2{
        font-size: 1vw;
    }
    
    #view_2 h1{
        font-size: 2vw;
    }
}
