
#view_2{
    width: 20%;
    height: 100vh;
}

#view_2 #total{
    text-align: right;
}

#view_2 .table{
}

#view_2 th{
    background-color:#D3D3D3;
}

#view_2 .menuRow{
    background-color:#DCDCDC;
}

#view_2 .menuRow img{
    width: 1vw;
    height: 1vh;
}

#view_2 .priceCol{
    text-align: right;
}

#view_2 .nameCol{
    text-align: left;
}

#view_2 button {
    background-color: orange;
    color: black;
    padding: 5px 5px 5px 5px;
    font-size: 1vw;    
    border: 1px solid #CCC;
    border-radius: 0px;
    box-shadow: 3px 3px 3px #888888;
    min-width: 80%;
    font-weight: bold;
}

hr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

@media screen and (max-width: 1180px) {

    #view_2{
        font-size: 1vw;
    }

    #view_2 h1{
        font-size: 2vw;
    }

    #view_2 button {
        font-size: 1.5vw;    
    }
}
